@import "@/assets/typo.scss";
@import "@/styles/quasar.scss";

body {
  margin: 0px;
  font-size: 62.5%;
}

.row > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.message-error {
  color: rgb(211, 76, 76);
}

.q-btn {
  font-family: "Lato-Bold", Helvetica, Arial !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

h1 {
  font-size: 3.5rem !important;
  line-height: 3rem !important;
  font-family: "Lato-Bold", Helvetica, Arial !important;
  margin: 0 !important;
  color: #005894;
  text-align: left;

  @media (max-width: $breakpoint-sm-max) {
    font-size: 2.8rem !important;
    line-height: 1.5rem !important;
  }
}

h2 {
  font-size: 2.4rem !important;
  font-family: Helvetica, Arial !important;
  line-height: 3rem !important;
  margin: 0 !important;
  color: #005894;
  text-align: left;
}

h3 {
  font-size: 2rem !important;
  font-family: "Lato-Bold", Helvetica, Arial !important;
  line-height: 2.5rem !important;
  margin: 0 !important;
  color: #005894;
  text-align: left;

  @media (max-width: $breakpoint-xs-max) {
    font-size: 1.4rem !important;
    line-height: 2rem !important;
  }
}

.header-image {
  position: relative;
  height: 225px;
  background-repeat: no-repeat !important;
  background-position: 0px -5px !important;
  background-image: url("~@/assets/img/header.png");
  background-size: contain !important;

  @media (max-width: $breakpoint-xs-max) {
    background-position: 0px -50px !important;
    height: 180px;
    background-size: contain !important;
  }

  &-mobile {
    h3 {
      position: absolute;
      bottom: 0;
      padding: 1.5rem 1rem;
    }
  }
}

.menu {
  width: 100vw;
  height: 100px;

  &__logo {
    position: absolute;
    bottom: 0;
    left: calc(10% - 2vw);

    img {
      object-fit: contain;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    right: 3%;
    list-style-type: none;
    margin: 10px;

    li {
      display: inline-block;
      margin: 0 1rem;

      a {
        font-size: 1.1rem;
        font-family: "Lato-Bold", Helvetica, Arial !important;
        text-decoration: none;
        color: #f79840;
      }
    }
  }
}

.footer {
  width: 100vw;
  height: 80px;
  margin-top: 100px;
  background: #005894;

  &__menu {
    list-style-type: none;
    float: left;

    li {
      display: inline-block;
      padding: 20px;

      a {
        font-size: 1rem;
        font-family: Helvetica, Arial;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

.nsdsk-form {
  @media (max-width: $breakpoint-xs-max) {
    margin: 3rem 0;
  }

  &__title {
    @media (max-width: $breakpoint-xs-max) {
      padding: 0 1rem;
    }
  }

  &__message-title {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;

    h3 {
      text-align: center;
    }
  }

  &__content {
    position: relative;
    margin: 15vh auto;
    min-width: 300px;
    max-width: 550px;

    @media (max-width: $breakpoint-xs-max) {
      margin: 20px auto;
    }

    .nsdsk-form__inputgroup {
      @media (max-width: $breakpoint-xs-max) {
        padding: 0 1rem;
      }

      &-input {
        width: 100%;
        margin: 0 0 1rem 0;

        @media (max-width: $breakpoint-xs-max) {
          margin: 0;
        }
      }

      &-label {
        font-size: 1.1rem;
        font-weight: bold;
        float: left;
        margin: 5px auto;
      }
    }

    .submit-desktop {
      display: flex;
      justify-content: flex-end;

      .q-btn {
        padding: 0px 40px;
      }
    }

    .submit-mobile {
      width: 100vw;
      position: fixed;
      bottom: 0;
      padding: 0px 10px;
      margin-bottom: 1.5rem;
    }
  }

  p {
    @media (max-width: $breakpoint-sm-max) {
      font-size: 1.2rem !important;
      line-height: 2.2rem !important;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
