@font-face {
  font-family: "Lato-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("~@/assets/fonts/Lato-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("~@/assets/fonts/Lato-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/Lato-Bold.woff") format("woff");
}
